{% extends "application.html" %} 

{% block content %}
  <h1>Schedule</h1><br/><br/>
  {% for entry in schedule %}
  <h4>{{entry.ClassName}}</h4>
  <span>Type: {{ entry.ClassType }}</span></br>
  <span>Department: {{ entry.Department }}</span></br>
  <span>Class Number: {{ entry.ClassNumber }}</span><br/>
  <span>Time: {{ entry.Time }}</span></br>
  <span>Days: {{ entry.Days }}</span><br/>
  <span>Duration: {{ entry.Duration }}</span><br/>
  <span>Level: {{ entry.Level }}</span><br/>
  <span>Campus: {{ entry.Campus }}</span><br/>
  <span>Location: {{ entry.Location }}</span><br/>
  <span>Instructor: {{ entry.Instructor }}</span><br/>
  <span>Registration: {{ entry.Registration }}</span><br/>
  <span>CRN: {{ entry.CRN }}</span><br/>
  <span>Grading Mode: {{ entry.GradingMode }}</span><br/>
  <span>Credits: {{ entry.Credits }}</span><br/><br/><br/>



  {% endfor %}
{% endblock %}
