#logo{
  color:white;
  font-size:20px;
}

#header{
  border-top: 4px solid #2A4D4D;
  border-bottom: 4px solid #6C8DD5;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #2A4580;
  margin-bottom:10px;
}

#footer
{
    background: #2A4580;
    border-top:8px solid #2A4D4D;
    /* We can over-ride default settings here instead of changing the original
       sticky-footer.css */
    padding-top: 10px;
    height: 40px;
    margin-top: -40px;
}

#footer div{
  text-align:center;
}

#footer span{
  color:white;
}

#main
{
    padding-bottom: 170px;
}

#navigation a{
  text-decoration: none;
  color:white;
}

#navigation a span{
  background: #06276F;
  padding:8px;
  border-radius:6px;
  margin-right: 4px;
}

#navigation a span:hover{
  background:#6C8DD5;
}
