.report-section{
  display:none;
}

.group{
  margin-bottom:30px;
}

.report-class{
  margin:10px;
}

.report-class span{
  font-size:1.3em;
}

.cn{
  font-size:1.3em;
}

.report-navigation{
  text-align:center;
}

.report-navigation a{
  text-decoration:none;
  color:black;
}

.report-navigation span{
  font-size:1.5em;
  padding-right:10px;
  padding-left:10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.report-navigation span:hover{
  background:#6C8DD5;
}

.grade{
  font-size:1.5em;
  font-weight:bold;
}

.grade-A{
  color:#008500;
}

.grade-B{
  color:#006363;
}

.grade-C{
  color:#A66F00;
}

.grade-D{
  color:#A64B00;
}

.grade-F{
  color:#A60000;
}
