
<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en">

    <style type="text/css" media="all">
        h1{display: inline;}
    </style>
                                                                                      
  <head>
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/screen.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/print.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/ie.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/application.css" />
    {% block header %}
    {% endblock %}
  </head>

  <body>
    <div id="header">
    <div class="container">
	<div class="span-24 last">
		<div class="span-10">
                  <span id="logo">Reggit<br></span>
		</div>

		<div class="span-14 last">
			{% block navigation %}
                <div id="navigation" style="float: right;">
                    {% ifnotequal no_show_nav 1 %} 
                        <span><a href="/main">Home</a></span>
                        <span><a href="/scheduler">Scheduler</a></span>
                        <span><a href="/transcript">Transcript</a></span>
                        <span><a href="/schedule">Current Schedule</a></span>
                        <span><a href="/logout">Logout</a></span>
                    {% endifnotequal %}
                </div>
			{% endblock %}
		</div>

              </div>
            </div>
          </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>


