
<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en">

    <style type="text/css" media="all">
        h1{display: inline;}
    </style>
                                                                                      
  <head>
    <title>Reggit | DK Awesomeness</title>
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/screen.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/print.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/ie.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/application.css" />
    {% block header %}
    {% endblock %}
  </head>

  <body>
    <div id="header">
    <div class="container">
	<div class="span-24 last">
		<div class="span-4">
                  <span id="logo">Reggit<br></span>
		</div>

		<div class="span-20 last">
			{% block navigation %}
                <div id="navigation" style="float: right;">
                    {% ifnotequal no_show_nav 1 %} 
                        <a href="/main"><span>Home</span></a>
                        <a href="/course"><span>Courses</span></a>
                        <a href="/schedule"><span>Schedule</span></a>
                        <a href="/scheduler"><span>Scheduler</span></a>
                        <a href="/planner"><span>Planner</span></a>
                        <a href="/transcript"><span>Transcript</span></a>
                        <a href="/logout"><span>Logout</span></a>
                    {% endifnotequal %}
                </div>
			{% endblock %}
		</div>

              </div>
            </div>
          </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>


