{% extends "application.html" %}

{% block content %}
<form action="." method="POST">
  <span>Enter a list of classes seperated commas</span>
  <input name="classes" /></br>
  <input type="submit" value="Submit" />
</form>

{% if combinations %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/make_schedule.css" />
    <script type="text/javascript" src="/site_media/javascripts/jquery-min.js" ></script>
    <script>
	    combinations = {{json|safe}}
    </script>
    
    <script type="text/javascript" src="/site_media/javascripts/make_schedule.js" ></script>
{% endblock %}
<div class="span-24 last">
  <div class="span-18">
    <table>
      <tr id="headers">
        <th>Hour</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      {% for hour in range %}
      <tr id="hour-{{hour}}" class="hours">
        <td class="Hour">{{hour}}:00</td>
        <td class="Monday"></td>
        <td class="Tuesday"></td>
        <td class="Wednesday"></td>
        <td class="Thursday"></td>
        <td class="Friday"></td>
        <td class="Saturday"></td>
        <td class="Sunday"></td>
      </tr>
      <tr id="hour-{{hour}}-half" class="hours">
        <td class="Hour">{{hour}}:30</td>
        <td class="Monday"></td>
        <td class="Tuesday"></td>
        <td class="Wednesday"></td>
        <td class="Thursday"></td>
        <td class="Friday"></td>
        <td class="Saturday"></td>
        <td class="Sunday"></td>
      </tr>
      {% endfor %}
  </table>
</div>
<div id="combinations" class="span-6 last">
  {% for combination in combinations %}
  <div id="combination-{{forloop.counter}}" class="combination">
    <h4>Combination {{forloop.counter}}</h4>
    {% for class in combination %}
      <span>({{class.Type}}) {{class.Dep}} {{class.Num}} </span>
      <span> {{class.Times.Days|join:"" }} {{ class.Times.Time|join:"-"  }}</span><br/>
    {% endfor %}
  <br/>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
