{% extends "application.html" %} 

{% block content %}
  <h1>Schedule</h1><br/><br/>
  {% for entry in schedule %}
  <h4>{{entry.title}}</h4>
  <span>Type: {{ entry.type }}</span></br>
  <span>Department: {{ entry.department }}</span></br>
  <span>Class Number: {{ entry.nmber }}</span><br/>
  <span>Time: {{ entry.times }}</span></br>
  <span>Days: {{ entry.days }}</span><br/>
  <span>Duration: {{ entry.duration }}</span><br/>
  <span>Level: {{ entry.level }}</span><br/>
  <span>Campus: {{ entry.campus }}</span><br/>
  <span>Location: {{ entry.location }}</span><br/>
  <span>Instructor: {{ entry.instructor }}</span><br/>
  <span>Registration: {{ entry.registration }}</span><br/>
  <span>CRN: {{ entry.crn }}</span><br/>
  <span>Grading Mode: {{ entry.grading_mode }}</span><br/>
  <span>Credits: {{ entry.credits }}</span><br/><br/><br/>



  {% endfor %}
{% endblock %}
