{% extends "application.html" %} 

{% block content %}

<h1>Schedule</h1> 
<h2>{{term}}</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{message.tags }}"{% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

{% block header %}
    
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/make_schedule.css"/>
    <script type="text/javascript" src="/site_media/javascripts/jquery-min.js"></script>
    <script>schedule = {{json|safe}}</script>
    <script type="text/javascript" src="/site_media/javascripts/schedule.js"></script>
{% endblock %}

<div class="schedule-navigation">
{% if current_term %}
    <a href="next_term/"><span>Next Term >></span></a>
{% else %}
    <a href="/schedule/"><span>&#060;&#060; Current Term</span></a>
{% endif %}
</div>

<div class="span-24 last">
    <div class="span-18">
        <table>
            <tr id="headers">
                <th>Hour</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            {% for hour in range %}
            <tr id="hour-{{hour}}" class="hours">
                <td class="Hour">{{hour}}:00</td>
                <td class="Monday"></td>
                <td class="Tuesday"></td>
                <td class="Wednesday"></td>
                <td class="Thursday"></td>
                <td class="Friday"></td>
                <td class="Saturday"></td>
                <td class="Sunday"></td>
            </tr>
            <tr id="hour-{{hour}}-half" class="hours">
                <td class="Hour">{{hour}}:30</td>
                <td class="Monday"></td>
                <td class="Tuesday"></td>
                <td class="Wednesday"></td>
                <td class="Thursday"></td>
                <td class="Friday"></td>
                <td class="Saturday"></td>
                <td class="Sunday"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    {% comment %} Course information table with drop course checkboxes {% endcomment %}
    <form action="." method="post">
    <table>
	<tr>
		<th>Class</th>
        <th>Title</th>
		<th>Type</th>
		<th>Instructor</th>
        <th>Location</th>
		<th>Days</th>
		<th>Time</th>
        <th><input type="submit" name="dropform" value="Drop"</th>
	</tr>
    {% for course in schedule %}
    	<tr>
		<td><a href="/course/{{course.department|upper}}{{course.number}}">{{course.department|upper}} {{course.number}}</a></td>
        <td>{{course.title}}</td>
        <td>{{course.type}}</td>
		<td>{{course.instructor}}</td>
        <td>{{course.location.building}} {{course.location.room}}</td>
		<td>{{course.days|join:"" }}</td>
		<td>{{course.times|join:"-"  }}</td>
        <td><input type="checkbox" name="drop" value={{course.crn}}></td>
	</tr>
    {% endfor %}
    </form>
    
    </table>
</div>

{% endblock %}
