{% extends "application.html" %} 

{% block content %}

<h1>Schedule</h1><br/><br/>

{% block header %}
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/make_schedule.css"/>
    <script type="text/javascript" src="/site_media/javascripts/jquery-min.js"></script>
    <script>schedule = {{json|safe}}</script>
    <script type="text/javascript" src="/site_media/javascripts/schedule.js"></script>
{% endblock %}

<div class="span-24 last">
    <div class="span-18">
        <table>
            <tr id="headers">
                <th>Hour</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            {% for hour in range %}
            <tr id="hour-{{hour}}" class="hours">
                <td class="Hour">{{hour}}:00</td>
                <td class="Monday"></td>
                <td class="Tuesday"></td>
                <td class="Wednesday"></td>
                <td class="Thursday"></td>
                <td class="Friday"></td>
                <td class="Saturday"></td>
                <td class="Sunday"></td>
            </tr>
            <tr id="hour-{{hour}}-half" class="hours">
                <td class="Hour">{{hour}}:30</td>
                <td class="Monday"></td>
                <td class="Tuesday"></td>
                <td class="Wednesday"></td>
                <td class="Thursday"></td>
                <td class="Friday"></td>
                <td class="Saturday"></td>
                <td class="Sunday"></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <table>
	<tr>
		<th>Class</th>
        <th>Title</th>
		<th>Type</th>
		<th>Instructor</th>
		<th>Days</th>
		<th>Time</th>
		<th>CRN</th>
	</tr>
    {% for course in schedule %}
    	<tr>
		<td><a href="/course/{{course.department|upper}}{{course.number}}">{{course.department|upper}} {{course.number}}</a></td>
        <td>{{course.title}}</td>
        <td>{{course.type}}</td>
		<td>{{course.instructor}}</td>
		<td>{{course.days|join:"" }}</td>
		<td>{{course.times|join:"-"  }}</td>
		<td>{{course.crn}}</td>
	</tr>
    {% endfor %}
    
    </table>

</div>
{% endblock %}
